form{
    display: flex;
    flex-direction: column;
}
button{
    display: flex;
    flex-direction: column;
    left:450px;
}
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }