<span class="material-icons v-middle">
    laptop_mac
    </span>
    <strong>Faça seu login</strong>
    
    <div class="d-flex justify-content-center align-items-center">
        <div class="card p-3">
        
                <form [formGroup]="form" (ngSubmit)="login()" > 
                    <div class="form-group">
        
                        <label for="email">E-mail</label>
        
                        <input type="email" id="email" class="form-control"  formControlName="email"
        
         requiredminlength="5" placeholder="email@teste.com">
        
                    </div>
        
                   <div class="form-group">
        
                       <label for="senha">Senha</label>
        
                       <input type="password" id="senha" class="form-control" formControlName="senha"
        
         requiredminlength="8" placeholder="12345678">
        
                   
        
                   <button class="btn btn-success" type="submit"  [disabled]="!form.valid">Entrar</button> 
                   <p *ngIf='mensagem != ""' class="alert alert-primary mt-2">{{ mensagem }}</p>
                   
                   </div>
               </form>
        </div>
        </div>
