<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Usuarios cadastrados</a>
        <a class="nav-item nav-link" routerLink="/cadastrar" routerLinkActive="active">Projetos </a>
        <a class="nav-item nav-link" (click)="logout()">Sair</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
<div style="position: absolute;

bottom: 0;
width: 100%;
  ">

<mat-toolbar style="position:fixed;
bottom: 0px;
display: flex;
justify-content: flex-end;">
  <span style=" font-weight: 200;
  font-size: 1.1rem;">
      Desenvolvido por Ayty
      <i class="material-icons  v-middle">
          school
      </i>
      <strong> <span class=""> - ESIG/Quaks</span></strong>
  </span>

</mat-toolbar>
</div>

