<h1 *ngIf="isAddMode">Adicionar usuário</h1>
<h1 *ngIf="!isAddMode">Editar usuário</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!--LOGIN-->
    <div class="form-row col">
        <div class="form-group col">
            <label for="login">Login</label>
            <input type="text" formControlName="login" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.login.errors }" />
            <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                <div *ngIf="f.login.errors.required">Seu primeiro nome é obrigatório</div>
            </div>
        </div>
    </div>
     <!--PASSWORD-->
     <div class="form-group col">
        <label for="password">
            Senha
            <em *ngIf="!isAddMode">(Deixe em branco para manter a mesma senha)</em>
        </label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Senha obrigatória</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <!--FULLNAME-->
    <div class="form-row col">
        <div class="form-group col">
            <label for="fullname">Nome Completo</label>
            <input type="text" formControlName="fullname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
            <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                <div *ngIf="f.fullname.errors.required">Seu primeiro nome é obrigatório</div>
            </div>
        </div>
    </div>
    <!--EMAIL-->
    <div class="form-row col">
        <div class="form-group col">
            <label for="email">email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Seu primeiro nome é obrigatório</div>
            </div>
        </div>
    </div>
    <!--PROFILE-->
    <div class="form-group col">
        <label for="profile">Perfil</label>
        <select type="text" formControlName="profile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.profile.errors }">
            <option value="PROFESSOR">Professor</option>
            <option value="ALUNO">Aluno</option>
        </select>
        <div *ngIf="submitted && f.profile.errors" class="invalid-feedback">
            <div *ngIf="f.profile.errors.required">Perfil é obrigatório</div>
        </div>
    </div>
    <!--SUBMIT-->
    <div class="form-group col">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancelar</a>
    </div>
</form>
