.header{ 
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 45px;
    padding-left: 10px;

}

.header a {
    display: contents;
    align-items: center;
    text-decoration: none;

}
.header .logo{
    max-height: 90px;

}
.header .title-group{
    padding-left: 300px;
    
}

.header .title-group i{
    padding-right: 4px;

}

.header .title-group .mat-raised-button{
    padding-left: 5px;

}
.header .login{
    position:fixed;
    padding-left: 74rem;
   
}

