<div class="card col-3 mx-auto" style="max-width: 35rem; position: relative">
    <h4 class="card-header text-center">CADASTRAR USUÁRIO</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <!--LOGIN-->
            <div class="form-group">
                <label for="login">Nome de usuário</label>
                <input placeholder="Username" type="text" formControlName="login" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.login.errors }" />
                <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                    <div *ngIf="f.login.errors.required">Seu primeiro nome é obrigatório</div>
                </div>
            </div>
            <!--PASSWORD-->
            <div class="form-group">
                <label for="password">Senha</label>
                <input placeholder="Password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Sua senha é obrigatoria Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <!--FULLNAME-->
            <div class="form-group">
                <label for="fullname">Nome Completo</label>
                <input placeholder="Name" type="text" formControlName="fullname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" />
                <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                    <div *ngIf="f.fullname.errors.required">Seu primeiro nome é obrigatório</div>
                </div>
            </div>
             <!--EMAIL-->
             <div class="form-group">
                <label for="email">E-mail</label>
                <input placeholder="E-mail" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">E-mail é obrigatório</div>
                </div>
            </div>
            <!-- PROFILE -->
            <div class="form-group">
                <label for="profile">Perfil</label>
                <select type="text" formControlName="profile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.profile.errors }">
                    <option value="PROFESSOR">Professor</option>
                    <option value="ALUNO">Aluno</option>
                </select>
                <div *ngIf="submitted && f.profile.errors" class="invalid-feedback">
                    <div *ngIf="f.profile.errors.required">Perfil é obrigatório</div>
                </div>
            </div>
            <!--SUBMIT-->

            <div class="form-group" style="text-align: center">
              <br>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Registrar
                </button>
              <br><br>
                <a routerLink="../login" class="btn btn-link">Cancelar</a>
            </div>
        </form>
    </div>
</div>
