<mat-card>
    <mat-card-title>Novo cadastro</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"> 
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="E-mail"> 
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Login"> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Senha"> 
        </mat-form-field>
    </form>

    <button mat-raised-button color="primary">
        Cadastrar
    </button>
</mat-card>