<mat-card class="home mat-elevation-z4">
    
    <mat-card-header class="home mat-elevation-z4">
       <mat-card-title class="title">
           Hatcher-PM
           <mat-card-subtitle class="subtitleP">
            Plataforma para cadastro de informações 
        </mat-card-subtitle>
       </mat-card-title>
    </mat-card-header>
    
    <mat-card-subtitle class="subtitle">
        Venha fazer parte da nossa equipe <i><strong>Hatcher-PM</strong></i>
    </mat-card-subtitle>
    <mat-card-footer>
        <img class="logo" src="assets/img/grupo.jpg" alt="logo">
    <img class="logo" src="assets/img/grupo2.jpg" alt="logo">
    </mat-card-footer>
</mat-card>

