.home .title{
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.4;
}

.home .logo{
    
    max-height: 15rem;
    padding-left: 14rem;


}
.home .subtitle{
    font-size: 1.4rem;
    padding: 20px 0px 0px 290px
}
.subtitleP{
    font-size: 1.2rem;
}
form{
    display: flex;
    flex-direction: column;
}
button{
    display: flex;
    flex-direction: column;
    left:450px;
}
.home .span{
    padding:  50px;
}