<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened
        fixedInViewport="true" fixedTopGap="110">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                início
            </a>
            <a mat-list-item routerLink="cadastro">
                <i class="material-icons">
                    app_registration
                </i>
                Cadastro
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    business
                </i>
                Quem somos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-container class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-container>
</mat-sidenav-container>