
/* You can add global styles to this file, and also import other style files */
a { cursor: pointer; }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

.footerFix {
  bottom: 0;
  left: 0;
  height: 40px;
  position: fixed;
  width: 100%;
  text-align: center;
}




.centerContent {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  padding: 20px;
  transform: translateY(-50%);
  resize: vertical;
  overflow: auto;
}
