<mat-card>
  <mat-card-title>Excluir Projeto</mat-card-title>
  <form>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Nome do projeto "
      [value]="projeto.name" name="name" disabled>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <input matInput placeholder="Descrição"
      [value]="projeto.description" name="description" disabled>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="startPicker" placeholder="Data de inicio" [(ngModel)]="projeto.startDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="endPicker" placeholder="Data de termino" [(ngModel)]="projeto.endDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

  </form>

</mat-card>
<div class="botao" >
  <a (click)="deleteProduct()" class="btn btn-sm btn-success mb-1 ">Excluir</a>

  <a (click)="cancel()" class="btn btn-sm btn-success mb-1">Cancelar</a>
</div>
