
<div class="row">
  <div class="input-field col s6">
    <input id="first_name2" type="text" class="validate">
    <label class="active" for="first_name2">Nome da atividade</label>
  </div>
</div>

<div class="row">
  <div class="input-field col s6">
    <input id="first_name2" type="text" class="validate">
    <label class="active" for="first_name2">Descrição da atividade</label>
  </div>
</div>
<div class="botao">
  <a routerLink=""class="btn btn-sm btn-success mb-1">Salvar</a>

  <a routerLink="" class="btn btn-sm btn-success mb-1">Cancelar</a>
</div>


