<mat-card>
  <mat-card-title>Novo Projeto</mat-card-title>
  <form>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Nome do projeto"
      [(ngModel)]="projeto.name" name="name">

    </mat-form-field>


    <mat-form-field appearance="fill">
      <input matInput placeholder="Descrição"
      [(ngModel)]="projeto.description" name="description">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="startPicker" placeholder="Data de inicio" [(ngModel)]="projeto.startDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="endPicker" placeholder="Data de termino" [(ngModel)]="projeto.endDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
<!--
    <mat-form-field >
      <mat-select placeholder="Coordenadores" [(ngModel)]="coordenators" multiple [enableDisable]="disable">
        <mat-select-trigger>
          {{users.value ? users.value[0] : ''}}
          <span *ngIf="users.value?.length > 1" class="example-additional-selection">
            (+{{users.value.length - 1}} {{users.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let user of users" [value]="user">{{user.fullname}}</mat-option>
      </mat-select>
    </mat-form-field>
-->

  </form>

</mat-card>
<div class="botao">
  <a (click)="createProduct()" class="btn btn-sm btn-success mb-1">Salvar</a>

  <a (click)="cancel()" class="btn btn-sm btn-success mb-1">Cancelar</a>
</div>


