<mat-card>
  <mat-card-title>Alterar Projeto</mat-card-title>
  <form>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Nome do projeto"
      [(ngModel)]="projeto.name" name="name">

    </mat-form-field>


    <mat-form-field appearance="fill">
      <input matInput placeholder="Descrição"
      [(ngModel)]="projeto.description" name="description">
    </mat-form-field>

  </form>

</mat-card>
<div class="botao" >
  <a (click)="updateProduct()" class="btn btn-sm btn-success mb-1 ">Atualizar</a>

  <a (click)="cancel()" class="btn btn-sm btn-success mb-1">Cancelar</a>
</div>


